{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="{% static 'matches/main.css' %}">
	<title>DotaBet</title>
</head>
<body>
	<div class="bs-component">
        <nav class="navbar navbar-expand-lg navbar-dark bg-grey fixed-top">
      		<div class="container">
				<!-- NAVBAR Logo -->
		        <a class="navbar-brand" href="/">
					<img src="{{MEDIA_URL}}/icons/logo.png" width="36" height="36" alt="">
					DotaBet
				</a>
		        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
		        </button>
				<!-- NAVBAR Hamburger-->
		        <div class="collapse navbar-collapse" id="navbarColor02">
					<!-- Navigation links-->
					<ul class="navbar-nav mr-auto">
						<li class="nav-item active">
							<a class="nav-link" href="{% url 'matches-home' %}"> Home </a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'leaderboard' %}"> Leaderboard </a>
						</li>
					</ul>
					<!-- Search -->
					<form class="form-inline mr-auto my-2 my-lg-0" method="GET" action="{% url 'search' %}">
						<input class="form-control mr-sm-2" type="search" aria-label="Search" placeholder="Search" name="q">
						<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
					</form>
					<!-- User links -->
					<ul class="navbar-nav">
		            {% if user.is_authenticated %}
						<li class="nav-item">
							<a class="nav-link" href="{% url 'user-bets' user.username %}">{{ user.profile.coin }}</a>
						</li>
						{% if cnt_notifcats == 0 %}
						<li class="nav-item">
						  	<a class="nav-link" href="{% url 'notifications' %}">
							<span class="glyphicon glyphicon-user"></span>Notifications</a>
						</li>
						{% else %}
					  	<li class="nav-item">
						  	<a class="nav-link" href="{% url 'notifications' %}">
							<span class="glyphicon glyphicon-user"></span>Notifications({{cnt_notifcats}})</a>
						</li>
						{% endif %}
						<li class="nav-item">
							<a class="nav-link" href="{% url 'profile' %}">
							<span class="glyphicon glyphicon-user"></span>Profile</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'logout' %}">
					  		<span class="glyphicon glyphicon-log-out"></span>Logout</a>
						</li>
	        	    {% else %}
						<li class="nav-item">
							<a class="nav-link" href="{% url 'login' %}">
							<span class="glyphicon glyphicon-log-in"></span>Login</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{% url 'register' %}">
							<span class="glyphicon glyphicon-user"></span>Register</a>
						</li>
	          	    {% endif %}
					</ul>
                </div>
            </div>
        </nav>
    </div>

	<main role="main" class="container">
	      {% if messages %}
			{% for message in messages %}
				<div class="alert alert-{{ message.tags }}">
					{{ message }}
				</div>
			{% endfor %}
	      {% endif %}
	      {% block content %}{% endblock %}
	</main>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
</body>
</html>