{% extends "matches/base.html" %}
{% block content %}
	<div class='row'>
		<div class='col-1'>
			<img class="rounded-circle article-img" src="{{ tags }}">
		</div>
		<div class='col'>
			<h1 class="mb-3">{{ view.kwargs.username }}'s bets</h1>
			{% if user.is_authenticated %}
		    	{% if user.id != currentUser.id %}
		    		{% if currentUser.id in following %}
		    			<a href="{% url 'unfollow' currentUser.username %}">Unfollow</a>&nbsp;
		    		{% else %}
		    			<a href="{% url 'follow' currentUser.username %}">Follow</a>&nbsp;
		    		{% endif %}
				{% endif %}
		    	<a href="{% url 'new-message' currentUser.id %}">Message</a>
		    {% endif %}
		</div>
	</div><br>

	{% for bet in bets %}
	<article class='media content-section jumbotron'>
		<div class='media-body'>
			<div class='row'>
				<div class='col-5 float-left'>
					<h3 class='color-radiant text-left'>
					{{ bet.match.r_team.team_name }}
					</h3>
				</div>
				<div class='col-2 text-center'>
					{% if user.is_authenticated %}
						{% if bet.user == user %}
							{% if bet.is_payed == False and bet.match.duration < 600 %}
							<a class='btn btn-outline-info' href="{% url 'bet-delete' bet.pk %}">Delete Bet</a>
							{% endif %}
		            	{% endif %}
		            {% endif %}
				</div>
				<div class='col-5 float-right'>
					<h3 class='color-dire text-right'>
					{{ bet.match.d_team.team_name }}
					</h3>
				</div>
			</div>
			<hr/>
			<a href="{% url 'match-details' bet.match_id %}">
				<div class='row'>
					<div class='col-4'>
						{% if bet.match.winner == 1 %}
							<i><h3 class='text-white'>winner</h3></i>
						{% endif %}
					</div>
					<div class='col-4'>
						<p class='article-content text-white text-center'>Score: {{ bet.match.r_score }} : {{ bet.match.d_score }}<br>Time: {{ bet.match.get_min }} : {{ bet.match.get_sec }}
						</p>
					</div>
					<div class='col-4'>
						{% if bet.match.winner == 2 %}
							<i><h3 class='text-white text-right'>winner</h3></i>
						{% endif %}
					</div>
				</div>
				{% if bet.match.is_over == 1 and bet.match.winner == bet.result %}
				<h2 class='text-center text-grey bg_color-radiant'>{{bet.coin}}</h2>
				{% elif bet.match.is_over == 1 and bet.match.winner != bet.result %}
				<h2 class='text-center text-grey bg_color-dire'>{{bet.coin}}</h2>
				{% else %}
				<h2 class='text-center text-grey'>{{bet.coin}}</h2>
				{% endif %}
			</a>
		</div>
	</article>		
	{% endfor %}
	
	{% if is_paginated %}
		{% if page_obj.has_previous %}
			<a class="btn btn-outline-info mb-4" href="?page=1">First</a>
			<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Previous</a>
		{% endif %}

		{% for num in page_obj.paginator.page_range %}
			{% if page_obj.number == num %}
				<a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
			{% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3'%}
				<a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
			{% endif %}
		{% endfor %}

		{% if page_obj.has_next %}
			<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
			<a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
		{% endif %}
	{% endif %}
	
	<article class="media content-section jumbotron">
		<div class='media-body padding_graph'>
			<div class='row'>
				<div class='col'>
					<h2 class='text-center'>{{ view.kwargs.username }}'s last bets</h2><br>
				</div>
			</div>
			<div class='row'>
				<div class='col'>
					<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
					<canvas id="myChart" width="400" height="200"></canvas>
					
					<script>
					var diff = [
						{% for bet in last10 %}
							{% if bet.match.winner == bet.result %}
								{{bet.coin}},
							{% else %}
								-{{bet.coin}},
							{% endif %}
						{% endfor %}
					];

					var coins = [];
					coins[diff.length] = {{current}};
					
					for(i = diff.length-1; i >= 0; i--){
						coins[i] = coins[i+1] - diff[diff.length-i-1];
					}

					console.log(coins);

					var color;
					if(coins[0] < coins[diff.length-1]){
						color = 'rgba(0, 255, 0, 0.4)';
					}else{
						color = 'rgba(255, 0, 0, 0.4)';
					}

					var ctx = document.getElementById("myChart").getContext('2d');
					var myChart = new Chart(ctx, {
						type: 'line',
						data: {
							labels: [
								'start',
								{% for bet in last10 %}
									{% if bet.result == 1%}
									"{{ bet.match.r_team.team_name  }}",
									{% else %}
									"{{ bet.match.d_team.team_name  }}",
									{% endif %}
								{% endfor %}
							],
							datasets: [{
								label: 'Coins',
								data: coins,
								backgroundColor: color,
								borderWidth: 1
							}]
						},
						options: {
							scales: {
								yAxes: [{
									ticks: {
										beginAtZero:true
									}
								}]
							},
							elements: {
			            		line: {
			                		tension: 0, // disables bezier curves
			            		}
			        		}
						}
					});
					</script>
				</div>
			</div>
		</div>
	</article>
	
{% endblock content %}