{% extends "matches/base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <div class="content-section jumbotron">
	  	<div class="media-body padding_msg-write">

	  		<h2>Send message:</h2>
	  		<form method="POST">
	  			<div class="card text-white table-primary mb-3" style="max-width: 50rem;">
				  <div class="card-header">To: {{receiver}}</div>
				  <div class="card-body">
				  	<div>
				  		{% csrf_token %}
						{{ form|crispy }}
				  	</div><br>
				  	<div class='float-right'>
					  	<button class="btn btn-outline-danger" type="submit">
							Send
						</button>
				    </div>
				  </div>
				</div>
			</form>
		</div>
	</div>
{% endblock content %}
