/*/////////////////////////////////////////////////////////////////////////////////*/
/* OSNOVNI CSS */
/*/////////////////////////////////////////////////////////////////////////////////*/

body {
	color: #aaa;
	background-color: #222222;/*background-color: #272B30;*/
	margin-top: 5rem;
}

h1, h2, h3, h4, h5, h6 {
  color: #888888;
}

ul {
  margin: 0;
}

a:link {
  color: #dc3545;
  text-decoration: none;
}

a:visited {
  color: #dc3545;
  text-decoration: none;
}

a:hover {
  color: #32b146;
  text-decoration: none;
}

a:active {
  text-decoration: none;
}



/*/////////////////////////////////////////////////////////////////////////////////*/
/* CSS u NAVIGATION BAR-U (treba ovog pola pobrisat) */
/*/////////////////////////////////////////////////////////////////////////////////*/
.bg-grey {
	background-color: #1c1e22 !important;
	border-bottom: 1px dashed #800000;
}

.site-header .navbar-nav .nav-link {
  color: #cbd5db;
}

.site-header .navbar-nav .nav-link:hover {
  color: #ffffff;
}

.site-header .navbar-nav .nav-link.active {
  font-weight: 500;
}

.content-section {
  background: #ffffff;
  padding: 10px 20px;
  border: 1px dashed #800000;
  border-radius: 3px;
  margin-bottom: 20px;
}

.article-title {
  color: #444444;
}

a.article-title:hover {
  color: #428bca;
  text-decoration: none;
}

.article-content {
  white-space: pre-line;
}

.article-img {
  height: 65px;
  width: 65px;
  margin-right: 16px;
}

.article-metadata {
  padding-bottom: 1px;
  margin-bottom: 4px;
  border-bottom: 1px solid #e3e3e3
}

.article-metadata a:hover {
  color: #333;
  text-decoration: none;
}

.article-svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
}

.account-heading {
  font-size: 2.5rem;
}

.jumbotron {
  background-color: #1c1e22;
  border-radius: 0.3rem;
}

/*/////////////////////////////////////////////////////////////////////////////////*/
/* TABLE CSS */
/*/////////////////////////////////////////////////////////////////////////////////*/

.bg-radiant {
	background-color: #32b146;
}

.bg-dire {
	background-color: #e22d4b;
}

.td-border-black {
	border-color: #000000 !important;
}

.table-padding {
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
}
.table-padding_leadreboard {
  padding-top: 50px;
  padding-right: 100px;
  padding-bottom: 20px;
  padding-left: 100px;
}

.table-invertory {
	border: 1px solid #666666;
}

.table-invertory-cell {
	width:90px; 
	height:70px;
	max-width:90px;
	min-width:90px; 
	max-height:70px; 
	min-height:70px;
	background: black;
	border: 1px solid #666666;
	padding: 0px 0px 0px 0px;
	margin:  0px 0px 0px 0px;
}

.pick-td_size {
  width:120px; 
  height:90px;
  max-width:120px;
  min-width:120px; 
  max-height:90px; 
  min-height:90px;
}

.ban-td_size {
  width:80px; 
  height:50px;
  max-width:80px;
  min-width:80px; 
  max-height:50px; 
  min-height:50px;
}

table {
  counter-reset: tableCount;     
}
.counterCell:before {              
  content: counter(tableCount); 
  counter-increment: tableCount; 
}

.table-danger,
.table-danger > th,
.table-danger > td {
  background-color: ##dd0000;
}

.table-success,
.table-success > th,
.table-success > td {
  background-color: ##009900;
}

.table-secondary,
.table-secondary > th,
.table-secondary > td {
  background-color: #7A8288;
}

.table-primary,
.table-primary > th,
.table-primary > td {
  background-color: #3A3F44;
}


.table-hover .table-success:hover, .table-hover .table-success:hover > th, .table-hover .table-success:hover > td {
  background-color: #4fbd4f;
}

.table-hover .table-warning:hover, .table-hover .table-warning:hover > th, .table-hover .table-warning:hover > td {
  background-color: #800000;
}

.table-hover .table-primary:hover, .table-hover .table-primary:hover > th, .table-hover .table-primary:hover > td {
  background-color: #2e3236;
}

.table-hover .table-secondary:hover, .table-hover .table-secondary:hover > th, .table-hover .table-secondary:hover > td {
  background-color: #6e757b;
}

.link-primary{
  background-color: #3A3F44;
}
.link-primary:hover{
  background-color: #2e3236;
}
.link-primary:visited{
  background-color: #2e3236;
}


/*/////////////////////////////////////////////////////////////////////////////////*/
/* IMAGE CSS */
/*/////////////////////////////////////////////////////////////////////////////////*/

.account-img {
  height: 125px;
  width: 125px;
  margin-right: 20px;
  margin-bottom: 16px;
}
.leaderboard-img {
  height: 50px;
  width: 50px;
  margin-right: 0px;
  margin-bottom: 0px;
}

.drafting_phase-img {
  height: 550px;
  background-image: url("https://img3.goodfon.com/wallpaper/nbig/9/f7/dota-dota2-radiant-dire-logo.jpg");
  background-size:     100% 100%;
  background-repeat:   no-repeat;
  background-position: center center;

  border-radius: 1%;
}

.img_150 {
  width: 150%;
}
.img_75 {
  width: 75%;
}
.img_60 {
  width: 60%;
}
.img_50 {
  width: 50%;
}
.img_35 {
  width: 35%;
}
.img_25 {
  width: 25%;
}
.img_18 {
  width: 18%;
}
.img_15 {
  width: 15%;
}
.img_10 {
  width: 10%;
}

 /* Drafting stage */
.img-pick-immersive {
	width: 90%;
	filter: brightness(120%);
	border: 1px groove black;
	border-radius: 10%;
}
.img-ban-immersive {
	width: 90%;
	filter: sepia(100%);
	border: 1px groove black;
	border-radius: 10%;
}
.img-ban-immersive:hover {
	filter: sepia(0%);
}

/* Pick/Ban Header*/
.img-pick {
	width: 18%;
	filter: brightness(120%);
	border: 1px groove black;
	border-radius: 10%;
}
.img-ban {
	width: 15%;
	filter: sepia(100%);
	border: 1px groove black;
	border-radius: 10%;
}
.img-ban:hover {
	filter: sepia(0%);
}

/* Tablica */
.img-hero-table {
	filter: brightness(120%);
	border: 1px groove black;
	border-radius: 10%;
}

/* Invertory */
.img-hero-invertory {
	width: 135px; 
	height: 80px;
	max-width:135px;
	min-width:135px; 
	max-height:80px; 
	min-height:80px;
	filter: brightness(120%);
	border: 1px groove black;
	border-radius: 10%;
}


/*/////////////////////////////////////////////////////////////////////////////////*/
/* TEXT CSS */
/*/////////////////////////////////////////////////////////////////////////////////*/

.text-white{
  color: #ffffff;
}

.text-black{
  color: #000000;
}

.pad_left_60 {
  padding-left: 50px;
}

.padding_pick-ban_left {
  padding-left: 30px;
  padding-bottom: 20px;
}
.padding_pick-ban_right {
  padding-bottom: : 20px;
  padding-right: 30px;
}
.padding_info_betting {
  padding-bottom: : 20px;
  padding-top: 20px;
  padding-left: 50px
  padding-right: 50px;
}
.padding_msg-read {
  padding-top: 20px;
  padding-left: 150px;
  padding-bottom: 20px;
  padding-right: 150px
}

.padding_msg-write {
  padding-top: 20px;
  padding-left: 130px;
  padding-bottom: 20px;
  padding-right: 130px
}

.padding_notification {
  padding-top: 20px;
  padding-left: 50px;
  padding-bottom: 20px;
  padding-right: 50px
}

.padding_sidebar {
  padding-top: 15px;
  padding-left: 20px;
  padding-bottom: 20px;
  padding-right: 20px
}

.padding_graph {
  padding-top: 15px;
  padding-left: 0px;
  padding-bottom: 25px;
  padding-right: 25px
}



.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}

.text-grey {
  color: #b4b4b4;
}

.color-small-links {
  color: #800000;
}

.color-radiant {
  color: #009900;
}

.color-dire {
  color: #dd0000;
}
